h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1emd7p3*_gcl_au*OTc4MjY0MzY0LjE3NDgxODg4OTY.*_ga*MDEwODk3ODU1Ni4xNzQ4MTg4ODkz*_ga_3LRZM6TM9L*czE3NDgxOTU2ODUkbzIkZzEkdDE3NDgyMTMyMjYkajYwJGwwJGgwJGRlczlUemdUNUR0SDdlRkdHRkItMjI3U3BlYUFMYkNOSjV3")
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes h2 {
    background-color: lightgreen;
    padding: 10px;
}

.frames h2 {
    background-color: lightpink;
    padding: 10px;
}

.paint h2 {
    background-color: lightblue;
    padding: 10px;
}

h3 {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

h4 {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

p {
    font-family: Helvetica;
    font-size: 16px;
    color: black;
}